@model bandbaja.Models.match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>match</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cast)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cast)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.qualification)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.qualification)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.incom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.incom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.work)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.work)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cellno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cellno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
