@model bandbaja.Models.User

@{
    ViewBag.Title = "index";
}

<h2>index</h2>
<html>

<head>
</head>
    <body>

        <div class="col-md-4" id="signIn">
            <br><br><br><br>
            <font size="6" color="#415c81"> Sign In</font>
            <br>
            <br>




            <div>
                <br>
             

    <div class="col-md-4">
        @Html.Label("User Name")

        @Html.TextBox("id", "", new { placeholder = "user name", @class = "form-control" })
    </div>
    <div class ="col-md-4">
        @Html.Label("Password")
        @Html.Password("pwd", "", new { placeholder = "password", @class = "form-control" })
    </div>
                    <br>

                    @*@Html.RadioButton("choice","patient")

                    <span>&nbsp;</span>

                     @Html.Label("patient")




                     <br>
                     @Html.RadioButton("choice","doctor") <span>&nbsp;</span>
                     @Html.Label("doctor")

                     <br>
                     @Html.RadioButton("choice","admin") <span>&nbsp;</span>
                     @Html.Label("admin")*@
                    <div><font color="red"> @TempData["msg"]</font></div>
                    <br>



                    <div class="col-md-4">

                        <a href="/Login/Create">
                            <input type="submit" id="s" />
                        </a>
                      
                       
                        
                        <br>
                        <br>
                    </div>

                

            </div>

        </div>


    </body>
</html>